editor/aistarter_nodered_twitter_v2.json
[{"id":"9a023973.2aed78","type":"tab","label":"SBAnalyzer","disabled":false,"info":""},{"id":"5f46a469.f9ffac","type":"tab","label":"Cloudant初期設定","disabled":false,"info":""},{"id":"cf483c01.262ab","type":"tab","label":"分類器作成","disabled":false,"info":""},{"id":"e5def551.32e878","type":"tab","label":"分類器削除","disabled":false,"info":""},{"id":"418e53d5.d2fd1c","type":"subflow","name":"リクエスト","info":"","in":[{"x":20,"y":100,"wires":[{"id":"fcd78717.566548"}]}],"out":[{"x":1220,"y":60,"wires":[{"id":"1be3d837.4a2888","port":0},{"id":"d96b22c5.6b816","port":0}]}]},{"id":"da6c4a99.b2bfd8","type":"subflow","name":"Tweet検索","info":"","in":[{"x":40,"y":120,"wires":[{"id":"e651e828.acd918"}]}],"out":[{"x":620,"y":180,"wires":[{"id":"dfe362f7.b22ad","port":0}]}]},{"id":"6fa6cbb5.8023b4","type":"ui_group","z":"","name":"ポジネガ","tab":"2f4e1dce.b1cff2","order":1,"disp":true,"width":"9"},{"id":"7a4f9257.9be62c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2f4e1dce.b1cff2","type":"ui_tab","z":"","name":"SBTwitter","icon":"dashboard"},{"id":"48dcbf1e.48d02","type":"ui_group","z":"","name":"BOT判断","tab":"2f4e1dce.b1cff2","disp":true,"width":"9"},{"id":"72bda3db.8de45c","type":"ui_group","z":"","name":"Tweet内訳","tab":"2f4e1dce.b1cff2","disp":true,"width":"24"},{"id":"ca3be2dd.873bd","type":"ui_group","z":"","name":"トータル","tab":"2f4e1dce.b1cff2","disp":true,"width":"6"},{"id":"c6251a62.5bca58","type":"watson-natural-language-classifier","z":"9a023973.2aed78","name":"NLC:ポジネガ判定","mode":"classify","language":"en","classifier":"","x":350,"y":400,"wires":[["e93bfdeb.428f9","46eb4776.476968"]]},{"id":"e59b3929.2cfc48","type":"watson-natural-language-classifier","z":"9a023973.2aed78","name":"NLC:BOT判断","mode":"classify","language":"en","classifier":"","x":340,"y":320,"wires":[["91648443.a0f588","e93bfdeb.428f9"]]},{"id":"52647723.e3ddb8","type":"comment","z":"9a023973.2aed78","name":"ツイートの収集、登録","info":"","x":100,"y":40,"wires":[]},{"id":"6f2b51b7.d75b1","type":"ui_dropdown","z":"9a023973.2aed78","name":"","label":"","place":"時","group":"6fa6cbb5.8023b4","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"-","type":"str"},{"label":"","value":0,"type":"num"},{"label":"","value":1,"type":"num"},{"label":"","value":2,"type":"num"},{"label":"","value":3,"type":"num"},{"label":"","value":4,"type":"num"},{"label":"","value":5,"type":"num"},{"label":"","value":6,"type":"num"},{"label":"","value":7,"type":"num"},{"label":"","value":8,"type":"num"},{"label":"","value":9,"type":"num"},{"label":"","value":10,"type":"num"},{"label":"","value":11,"type":"num"},{"label":"","value":12,"type":"num"},{"label":"","value":13,"type":"num"},{"label":"","value":14,"type":"num"},{"label":"","value":15,"type":"num"},{"label":"","value":16,"type":"num"},{"label":"","value":17,"type":"num"},{"label":"","value":18,"type":"num"},{"label":"","value":19,"type":"num"},{"label":"","value":20,"type":"num"},{"label":"","value":21,"type":"num"},{"label":"","value":22,"type":"num"},{"label":"","value":23,"type":"num"}],"payload":"","topic":"","x":80,"y":1120,"wires":[["3f68ed9b.833dd2"]]},{"id":"6f5b7b26.c0a8e4","type":"ui_date_picker","z":"9a023973.2aed78","name":"","label":"","group":"6fa6cbb5.8023b4","order":4,"width":0,"height":0,"passthru":true,"topic":"","x":90,"y":1080,"wires":[["9c903216.ce481"]]},{"id":"26d3e576.fcce9a","type":"ui_chart","z":"9a023973.2aed78","name":"","group":"48dcbf1e.48d02","order":1,"width":0,"height":0,"label":"分","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1310,"y":780,"wires":[[],[]]},{"id":"f7ab3044.16807","type":"ui_dropdown","z":"9a023973.2aed78","name":"","label":"","place":"時","group":"48dcbf1e.48d02","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"-","type":"str"},{"label":"","value":0,"type":"num"},{"label":"","value":1,"type":"num"},{"label":"","value":2,"type":"num"},{"label":"","value":3,"type":"num"},{"label":"","value":4,"type":"num"},{"label":"","value":5,"type":"num"},{"label":"","value":6,"type":"num"},{"label":"","value":7,"type":"num"},{"label":"","value":8,"type":"num"},{"label":"","value":9,"type":"num"},{"label":"","value":10,"type":"num"},{"label":"","value":11,"type":"num"},{"label":"","value":12,"type":"num"},{"label":"","value":13,"type":"num"},{"label":"","value":14,"type":"num"},{"label":"","value":15,"type":"num"},{"label":"","value":16,"type":"num"},{"label":"","value":17,"type":"num"},{"label":"","value":18,"type":"num"},{"label":"","value":19,"type":"num"},{"label":"","value":20,"type":"num"},{"label":"","value":21,"type":"num"},{"label":"","value":22,"type":"num"},{"label":"","value":23,"type":"num"}],"payload":"","topic":"","x":80,"y":1260,"wires":[["43a9f365.e3cd8c"]]},{"id":"6776b11f.80fe6","type":"ui_date_picker","z":"9a023973.2aed78","name":"","label":"","group":"48dcbf1e.48d02","order":4,"width":0,"height":0,"passthru":true,"topic":"","x":90,"y":1220,"wires":[["c1d7e1da.c0c95"]]},{"id":"a45bd12b.dd67e","type":"ui_dropdown","z":"9a023973.2aed78","name":"","label":"","place":"分","group":"6fa6cbb5.8023b4","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"-","type":"str"},{"label":"","value":0,"type":"num"},{"label":"","value":1,"type":"num"},{"label":"","value":2,"type":"num"},{"label":"","value":3,"type":"num"},{"label":"","value":4,"type":"num"},{"label":"","value":5,"type":"num"},{"label":"","value":6,"type":"num"},{"label":"","value":7,"type":"num"},{"label":"","value":8,"type":"num"},{"label":"","value":9,"type":"num"},{"label":"","value":10,"type":"num"},{"label":"","value":11,"type":"num"},{"label":"","value":12,"type":"num"},{"label":"","value":13,"type":"num"},{"label":"","value":14,"type":"num"},{"label":"","value":15,"type":"num"},{"label":"","value":16,"type":"num"},{"label":"","value":17,"type":"num"},{"label":"","value":18,"type":"num"},{"label":"","value":19,"type":"num"},{"label":"","value":20,"type":"num"},{"label":"","value":21,"type":"num"},{"label":"","value":22,"type":"num"},{"label":"","value":23,"type":"num"},{"label":"","value":24,"type":"num"},{"label":"","value":25,"type":"num"},{"label":"","value":26,"type":"num"},{"label":"","value":27,"type":"num"},{"label":"","value":28,"type":"num"},{"label":"","value":29,"type":"num"},{"label":"","value":30,"type":"num"},{"label":"","value":31,"type":"num"},{"label":"","value":32,"type":"num"},{"label":"","value":33,"type":"num"},{"label":"","value":34,"type":"num"},{"label":"","value":35,"type":"num"},{"label":"","value":36,"type":"num"},{"label":"","value":37,"type":"num"},{"label":"","value":38,"type":"num"},{"label":"","value":39,"type":"num"},{"label":"","value":40,"type":"num"},{"label":"","value":41,"type":"num"},{"label":"","value":42,"type":"num"},{"label":"","value":43,"type":"num"},{"label":"","value":44,"type":"num"},{"label":"","value":45,"type":"num"},{"label":"","value":46,"type":"num"},{"label":"","value":47,"type":"num"},{"label":"","value":48,"type":"num"},{"label":"","value":49,"type":"num"},{"label":"","value":50,"type":"num"},{"label":"","value":51,"type":"num"},{"label":"","value":52,"type":"num"},{"label":"","value":53,"type":"num"},{"label":"","value":54,"type":"num"},{"label":"","value":55,"type":"num"},{"label":"","value":56,"type":"num"},{"label":"","value":57,"type":"num"},{"label":"","value":58,"type":"num"},{"label":"","value":59,"type":"num"},{"label":"","value":60,"type":"num"}],"payload":"","topic":"","x":80,"y":1160,"wires":[["7b739a5d.90f744"]]},{"id":"54131689.969578","type":"comment","z":"9a023973.2aed78","name":"ポジネガグラフ","info":"","x":80,"y":620,"wires":[]},{"id":"57a14019.e8574","type":"ui_dropdown","z":"9a023973.2aed78","name":"","label":"","place":"分","group":"48dcbf1e.48d02","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"-","type":"str"},{"label":"","value":0,"type":"num"},{"label":"","value":1,"type":"num"},{"label":"","value":2,"type":"num"},{"label":"","value":3,"type":"num"},{"label":"","value":4,"type":"num"},{"label":"","value":5,"type":"num"},{"label":"","value":6,"type":"num"},{"label":"","value":7,"type":"num"},{"label":"","value":8,"type":"num"},{"label":"","value":9,"type":"num"},{"label":"","value":10,"type":"num"},{"label":"","value":11,"type":"num"},{"label":"","value":12,"type":"num"},{"label":"","value":13,"type":"num"},{"label":"","value":14,"type":"num"},{"label":"","value":15,"type":"num"},{"label":"","value":16,"type":"num"},{"label":"","value":17,"type":"num"},{"label":"","value":18,"type":"num"},{"label":"","value":19,"type":"num"},{"label":"","value":20,"type":"num"},{"label":"","value":21,"type":"num"},{"label":"","value":22,"type":"num"},{"label":"","value":23,"type":"num"},{"label":"","value":"24","type":"str"},{"label":"","value":"25","type":"str"},{"label":"","value":"26","type":"str"},{"label":"","value":"27","type":"str"},{"label":"","value":"28","type":"str"},{"label":"","value":"29","type":"str"},{"label":"","value":"30","type":"str"},{"label":"","value":"31","type":"str"},{"label":"","value":"32","type":"str"},{"label":"","value":"33","type":"str"},{"label":"","value":"34","type":"str"},{"label":"","value":"35","type":"str"},{"label":"","value":"36","type":"str"},{"label":"","value":"37","type":"str"},{"label":"","value":"38","type":"str"},{"label":"","value":"39","type":"str"},{"label":"","value":"40","type":"str"},{"label":"","value":"41","type":"str"},{"label":"","value":"42","type":"str"},{"label":"","value":"43","type":"str"},{"label":"","value":"44","type":"str"},{"label":"","value":"45","type":"str"},{"label":"","value":"46","type":"str"},{"label":"","value":"47","type":"str"},{"label":"","value":"48","type":"str"},{"label":"","value":"49","type":"str"},{"label":"","value":"50","type":"str"},{"label":"","value":"51","type":"str"},{"label":"","value":"52","type":"str"},{"label":"","value":"53","type":"str"},{"label":"","value":"54","type":"str"},{"label":"","value":"55","type":"str"},{"label":"","value":"56","type":"str"},{"label":"","value":"57","type":"str"},{"label":"","value":"58","type":"str"},{"label":"","value":"59","type":"str"},{"label":"","value":"60","type":"str"}],"payload":"","topic":"","x":80,"y":1300,"wires":[["d4f58666.9be4b8"]]},{"id":"1ca99de3.6a4992","type":"ui_template","z":"9a023973.2aed78","group":"72bda3db.8de45c","name":"Tweet内訳","order":0,"width":"24","height":"10","format":"<div>\n<table style=\"width:100%\">\n  <tr>\n    <th>No.</th>\n    <th>Class</th>\n    <th>年</th>\n    <th>月</th>\n    <th>日</th>\n    <th>時</th>\n    <th>分</th>\n    <th>Tweet</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload.rows | limitTo:1000\">\n    <td>{{$index}}</td>\n    <td>{{msg.payload.rows[$index].value[0]}}</td>\n    <td>{{msg.payload.rows[$index].value[2]}}</td>\n    <td>{{msg.payload.rows[$index].value[3]}}</td>\n    <td>{{msg.payload.rows[$index].value[4]}}</td>\n    <td>{{msg.payload.rows[$index].value[5]}}</td>\n    <td>{{msg.payload.rows[$index].value[6]}}</td>\n    <td>{{msg.payload.rows[$index].value[1]}}</td> \n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":150,"y":1360,"wires":[[]]},{"id":"806a47bc.2999e8","type":"debug","z":"9a023973.2aed78","name":"","active":false,"console":"false","complete":"true","x":570,"y":1080,"wires":[]},{"id":"19b2f697.cad9a9","type":"function","z":"9a023973.2aed78","name":"クエリセット","func":"var classifierName = \"posinega\";\nvar viewName = \"posi_nega_text_by_time\";\n\nvar date;\nif (global.get(classifierName + \".date\")) {\n    date = new Date(global.get(classifierName + \".date\"));\n} else {\n    date = new Date();\n}\n\nvar startYear = date.getFullYear();\nvar startMonth = date.getMonth()+1;\nvar startDay = date.getDate();\nvar startHour = \"\";\nvar startMinute = \"\";\n\nvar endYear = date.getFullYear();\nvar endMonth = date.getMonth()+1;\nvar endDay = date.getDate();\nvar endHour = \"\";\nvar endMinute = \"\";\n\nif (isFinite(global.get(classifierName + \".hour\"))) {\n    startHour = \",\" + global.get(classifierName + \".hour\");\n    var endHourNum = +global.get(classifierName + \".hour\") + 1;\n    endHour = \",\" + endHourNum;\n    \n    if (isFinite(global.get(classifierName + \".minute\"))) {\n        endHour = \",\" + global.get(classifierName + \".hour\");\n        \n        startMinute = \",\" + global.get(classifierName + \".minute\");\n        var endMinuteNum = +global.get(classifierName + \".minute\") + 1;\n        endMinute = \",\" + endMinuteNum;\n    }\n} else {\n    date.setDate(date.getDate() + 1);\n    endYear = date.getFullYear();\n    endMonth = date.getMonth()+1;\n    endDay = date.getDate();\n}\n\nvar param = \"startkey=[\" +\n                startYear + \",\" +\n                startMonth + \",\" +\n                startDay +\n                startHour +\n                startMinute +\n            \"]\" +\n            \"&endkey=[\" +\n                endYear + \",\" +\n                endMonth + \",\" +\n                endDay +\n                endHour +\n                endMinute +\n            \"]\";\n\nmsg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view/_view/\" + viewName + \"?\" + param);\n\nmsg.date = date;\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1120,"wires":[["806a47bc.2999e8","f9e77bd3.149778"]]},{"id":"9c903216.ce481","type":"change","z":"9a023973.2aed78","name":"日付セット","rules":[{"t":"set","p":"posinega.date","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":1080,"wires":[["19b2f697.cad9a9"]]},{"id":"3f68ed9b.833dd2","type":"change","z":"9a023973.2aed78","name":"時セット","rules":[{"t":"set","p":"posinega.hour","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1120,"wires":[["19b2f697.cad9a9"]]},{"id":"7b739a5d.90f744","type":"change","z":"9a023973.2aed78","name":"分セット","rules":[{"t":"set","p":"posinega.minute","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1160,"wires":[["19b2f697.cad9a9"]]},{"id":"e9dd9cae.98a39","type":"debug","z":"9a023973.2aed78","name":"","active":false,"console":"false","complete":"true","x":730,"y":1080,"wires":[]},{"id":"82f9b22f.69a59","type":"debug","z":"9a023973.2aed78","name":"","active":false,"console":"false","complete":"true","x":570,"y":1220,"wires":[]},{"id":"583f1685.90a088","type":"function","z":"9a023973.2aed78","name":"クエリセット","func":"var classifierName = \"isbot\";\nvar viewName = \"isbot_text_by_time\";\n\nvar date;\nif (global.get(classifierName + \".date\")) {\n    date = new Date(global.get(classifierName + \".date\"));\n} else {\n    date = new Date();\n}\n\nvar startYear = date.getFullYear();\nvar startMonth = date.getMonth()+1;\nvar startDay = date.getDate();\nvar startHour = \"\";\nvar startMinute = \"\";\n\nvar endYear = date.getFullYear();\nvar endMonth = date.getMonth()+1;\nvar endDay = date.getDate();\nvar endHour = \"\";\nvar endMinute = \"\";\n\nif (isFinite(global.get(classifierName + \".hour\"))) {\n    startHour = \",\" + global.get(classifierName + \".hour\");\n    var endHourNum = +global.get(classifierName + \".hour\") + 1;\n    endHour = \",\" + endHourNum;\n    \n    if (isFinite(global.get(classifierName + \".minute\"))) {\n        endHour = \",\" + global.get(classifierName + \".hour\");\n        \n        startMinute = \",\" + global.get(classifierName + \".minute\");\n        var endMinuteNum = +global.get(classifierName + \".minute\") + 1;\n        endMinute = \",\" + endMinuteNum;\n    }\n} else {\n    date.setDate(date.getDate() + 1);\n    endYear = date.getFullYear();\n    endMonth = date.getMonth()+1;\n    endDay = date.getDate();\n}\n\nvar param = \"startkey=[\" +\n                startYear + \",\" +\n                startMonth + \",\" +\n                startDay +\n                startHour +\n                startMinute +\n            \"]\" +\n            \"&endkey=[\" +\n                endYear + \",\" +\n                endMonth + \",\" +\n                endDay +\n                endHour +\n                endMinute +\n            \"]\";\n\nmsg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view/_view/\" + viewName + \"?\" + param);\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1260,"wires":[["82f9b22f.69a59","fb43e7ef.3a1698"]]},{"id":"c1d7e1da.c0c95","type":"change","z":"9a023973.2aed78","name":"日付セット","rules":[{"t":"set","p":"isbot.date","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":1220,"wires":[["583f1685.90a088"]]},{"id":"43a9f365.e3cd8c","type":"change","z":"9a023973.2aed78","name":"時セット","rules":[{"t":"set","p":"isbot.hour","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1260,"wires":[["583f1685.90a088"]]},{"id":"d4f58666.9be4b8","type":"change","z":"9a023973.2aed78","name":"分セット","rules":[{"t":"set","p":"isbot.minute","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1300,"wires":[["583f1685.90a088"]]},{"id":"85f59fe8.50e6","type":"debug","z":"9a023973.2aed78","name":"","active":false,"console":"false","complete":"true","x":730,"y":1220,"wires":[]},{"id":"7541c477.78f59c","type":"comment","z":"9a023973.2aed78","name":"BOT判断グラフ","info":"","x":80,"y":720,"wires":[]},{"id":"9302747e.a387f8","type":"link out","z":"9a023973.2aed78","name":"Tweet内訳","links":["21c813c0.74903c"],"x":695,"y":1120,"wires":[]},{"id":"21c813c0.74903c","type":"link in","z":"9a023973.2aed78","name":"Tweet内訳","links":["9302747e.a387f8","4000d6b7.ef0118","e41a825.55c118"],"x":35,"y":1360,"wires":[["1ca99de3.6a4992"]]},{"id":"c7dacd65.8b046","type":"comment","z":"9a023973.2aed78","name":"Tweet内訳へ","info":"","x":790,"y":1120,"wires":[]},{"id":"4000d6b7.ef0118","type":"link out","z":"9a023973.2aed78","name":"Tweet内訳","links":["21c813c0.74903c"],"x":695,"y":1260,"wires":[]},{"id":"70f451fb.cc33e","type":"comment","z":"9a023973.2aed78","name":"Tweet内訳へ","info":"","x":790,"y":1260,"wires":[]},{"id":"867f1793.9453a8","type":"change","z":"9a023973.2aed78","name":"分類器名セット","rules":[{"t":"set","p":"classifier","pt":"msg","to":"isbot","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":760,"wires":[["8205aec6.407d1"]]},{"id":"ec2c8d2b.79f09","type":"ui_chart","z":"9a023973.2aed78","name":"","group":"ca3be2dd.873bd","order":0,"width":"0","height":"0","label":"ポジネガ","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":940,"y":900,"wires":[[],[]]},{"id":"fc2c342c.c013a8","type":"comment","z":"9a023973.2aed78","name":"トータル円グラフ","info":"","x":90,"y":860,"wires":[]},{"id":"1fe695eb.06d73a","type":"ui_chart","z":"9a023973.2aed78","name":"","group":"ca3be2dd.873bd","order":0,"width":"0","height":"0","label":"BOT判断","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":940,"y":940,"wires":[[],[]]},{"id":"a8044a95.bbae08","type":"function","z":"5f46a469.f9ffac","name":"Database作成クエリセット","func":"msg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\"));\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":140,"wires":[["fe6b3527.13ef58"]]},{"id":"fe6b3527.13ef58","type":"http request","z":"5f46a469.f9ffac","name":"","method":"PUT","ret":"obj","url":"","tls":"","x":550,"y":140,"wires":[["506a42fc.7853ec"]]},{"id":"9f22f56c.0be7a8","type":"function","z":"5f46a469.f9ffac","name":"view作成クエリセット","func":"msg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view\");\n\nvar rev = msg.payload._rev;\n\n//作成するviewの中身をmsg.payloadに格納する\nmsg.payload = {\n  \"_id\": \"_design/view\",\n  \"views\": {\n    \"count_by_time\": {\n      \"reduce\": \"_count\",\n      \"map\": \"function (doc) {\\n  msec = Date.parse(doc.timestamp);\\n  if (msec && doc.classes.class_name) {\\n    //32400000ms足すことで日本時間に合わせる\\n    date = new Date(msec+32400000);\\n    emit([doc.classes.class_name,\\n          date.getFullYear(),\\n          date.getMonth()+1,\\n          date.getDate(),\\n          date.getHours(),\\n          date.getMinutes(),\\n          date.getSeconds()\\n        ]);\\n  }\\n}\"\n    },\n    \"posi_nega_text_by_time\": {\n      \"map\": \"function (doc) {\\n  msec = Date.parse(doc.timestamp);\\n  if (msec && doc.classes.class_name) {\\n    if (doc.classes.class_name == \\\"positive\\\" ||\\n        doc.classes.class_name == \\\"neutral\\\" ||\\n        doc.classes.class_name == \\\"negative\\\") {\\n      //32400000ms足すことで日本時間に合わせる\\n      date = new Date(msec+32400000);\\n      emit([date.getFullYear(),\\n            date.getMonth()+1,\\n            date.getDate(),\\n            date.getHours(),\\n            date.getMinutes(),\\n            date.getSeconds()\\n          ],\\n          [doc.classes.class_name,\\n            doc.text,\\n            date.getFullYear(),\\n            date.getMonth()+1,\\n            date.getDate(),\\n            date.getHours(),\\n            date.getMinutes(),\\n            date.getSeconds()\\n          ]);\\n    }\\n  }\\n}\"\n    },\n    \"isbot_text_by_time\": {\n      \"map\": \"function (doc) {\\n  msec = Date.parse(doc.timestamp);\\n  if (msec && doc.classes.class_name) {\\n    if (doc.classes.class_name == \\\"person\\\" ||\\n        doc.classes.class_name == \\\"others\\\") {\\n      //32400000ms足すことで日本時間に合わせる\\n      date = new Date(msec+32400000);\\n      emit([date.getFullYear(),\\n            date.getMonth()+1,\\n            date.getDate(),\\n            date.getHours(),\\n            date.getMinutes(),\\n            date.getSeconds()\\n          ],\\n          [doc.classes.class_name,\\n            doc.text,\\n            date.getFullYear(),\\n            date.getMonth()+1,\\n            date.getDate(),\\n            date.getHours(),\\n            date.getMinutes(),\\n            date.getSeconds()\\n          ]);\\n    }\\n  }\\n}\"\n    },\n    \"count_by_class\": {\n      \"reduce\": \"_count\",\n      \"map\": \"function (doc) {\\n  if (doc.classes.class_name) {\\n    emit(doc.classes.class_name);\\n  }\\n}\"\n    },\n    \"sort_by_date\": {\n      \"map\": \"function (doc) {\\n  if (doc.timestamp && doc.classes.class_name) {\\n    msec = Date.parse(doc.timestamp);\\n    tweetDate = new Date(msec);\\n    tweetDate.setHours(tweetDate.getHours() + 9);\\n    emit([tweetDate.getFullYear(),\\n          tweetDate.getMonth()+1,\\n          tweetDate.getDate(),\\n          tweetDate.getHours(),\\n          tweetDate.getMinutes(),\\n          tweetDate.getSeconds()],doc);\\n  }\\n}\"\n    },\n    \"sort_by_date_for_csv\": {\n      \"map\": \"function (doc) {\\n  if (doc.timestamp && doc.classes[0].class_name) {\\n    msec = Date.parse(doc.timestamp);\\n    tweetDate = new Date(msec);\\n    tweetDate.setHours(tweetDate.getHours() + 9);\\n    emit([tweetDate.getFullYear(),\\n          tweetDate.getMonth()+1,\\n          tweetDate.getDate(),\\n          tweetDate.getHours(),\\n          tweetDate.getMinutes(),\\n          tweetDate.getSeconds()],doc);\\n  }\\n}\"\n    }\n  },\n  \"language\": \"javascript\"\n};\n\nif (rev) msg.payload[\"_rev\"] = rev;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":220,"wires":[["8c7be3bb.45c83"]]},{"id":"8c7be3bb.45c83","type":"http request","z":"5f46a469.f9ffac","name":"","method":"PUT","ret":"obj","url":"","tls":"","x":550,"y":220,"wires":[["294e5123.c74d2e"]]},{"id":"9220d4dd.99ccd8","type":"change","z":"5f46a469.f9ffac","name":"Cloudant 設定","rules":[{"t":"set","p":"cloudant.url","pt":"global","to":"","tot":"str"},{"t":"set","p":"cloudant.dbname","pt":"global","to":"twitter_data","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":40,"wires":[[]]},{"id":"d317a49d.d558b8","type":"inject","z":"5f46a469.f9ffac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":110,"y":40,"wires":[["9220d4dd.99ccd8"]]},{"id":"e58b07bf.70bdd8","type":"inject","z":"5f46a469.f9ffac","name":"Database作成","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":140,"wires":[["a8044a95.bbae08"]]},{"id":"ba40d351.ddac5","type":"inject","z":"5f46a469.f9ffac","name":"view作成","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":180,"wires":[["7b33a22c.05aadc"]]},{"id":"506a42fc.7853ec","type":"debug","z":"5f46a469.f9ffac","name":"","active":true,"console":"false","complete":"false","x":710,"y":140,"wires":[]},{"id":"294e5123.c74d2e","type":"debug","z":"5f46a469.f9ffac","name":"","active":true,"console":"false","complete":"false","x":710,"y":220,"wires":[]},{"id":"4d0b20df.bda3e","type":"inject","z":"cf483c01.262ab","name":"学習データをセットしてクリック","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":190,"y":180,"wires":[["ec70212c.fe447"]]},{"id":"933e0a29.a1af18","type":"comment","z":"cf483c01.262ab","name":"NLCに分類器作成","info":"","x":110,"y":140,"wires":[]},{"id":"ec70212c.fe447","type":"template","z":"cf483c01.262ab","name":"学習データ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","output":"str","x":410,"y":180,"wires":[["bac2c355.05f8a"]]},{"id":"8e5f653.eaa4798","type":"debug","z":"cf483c01.262ab","name":"","active":true,"console":"false","complete":"payload","x":1010,"y":180,"wires":[]},{"id":"72aead5c.980c44","type":"watson-natural-language-classifier","z":"cf483c01.262ab","name":"分類器作成・トレーニング","mode":"create","language":"ja","classifier":"","x":800,"y":180,"wires":[["8e5f653.eaa4798"]]},{"id":"90a64bf8.3eef08","type":"comment","z":"cf483c01.262ab","name":"分類器の状態確認（classifier_id指定）","info":"","x":170,"y":240,"wires":[]},{"id":"c29cc41b.aa5758","type":"watson-natural-language-classifier","z":"cf483c01.262ab","name":"分類器状態確認","mode":"classify","language":"en","classifier":"","x":320,"y":280,"wires":[["d649ccb0.de0ea"]]},{"id":"d649ccb0.de0ea","type":"debug","z":"cf483c01.262ab","name":"","active":true,"console":"false","complete":"payload","x":490,"y":280,"wires":[]},{"id":"271191d4.dabd8e","type":"inject","z":"cf483c01.262ab","name":"分類器状態確認","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":280,"wires":[["c29cc41b.aa5758"]]},{"id":"ce6ce349.54a86","type":"cloudant out","z":"9a023973.2aed78","name":"ツイート情報登録","cloudant":"","database":"twitter_data","service":"node-red-twitter-okano-cloudantNoSQLDB","payonly":true,"operation":"insert","x":930,"y":380,"wires":[]},{"id":"91648443.a0f588","type":"switch","z":"9a023973.2aed78","name":"人BOT分岐","property":"payload.top_class","propertyType":"msg","rules":[{"t":"eq","v":"person","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":510,"y":320,"wires":[["99dd306.6255dd"],["46eb4776.476968"]]},{"id":"723ec33e.6b66dc","type":"delay","z":"9a023973.2aed78","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":380,"wires":[["ce6ce349.54a86"]]},{"id":"53882930.cd8738","type":"inject","z":"9a023973.2aed78","name":"","topic":"","payload":"","payloadType":"str","repeat":"2","crontab":"","once":true,"x":90,"y":540,"wires":[["95db42e1.0fd6d"]]},{"id":"95db42e1.0fd6d","type":"change","z":"9a023973.2aed78","name":"流量制限用","rules":[{"t":"set","p":"request.count","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":540,"wires":[[]]},{"id":"b2090f27.d9c89","type":"delay","z":"418e53d5.d2fd1c","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"200","randomLast":"1","randomUnits":"milliseconds","drop":false,"x":270,"y":160,"wires":[["441dee90.b203c"]]},{"id":"441dee90.b203c","type":"switch","z":"418e53d5.d2fd1c","name":"流量制限","property":"request.count","propertyType":"global","rules":[{"t":"lt","v":"2","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":260,"y":100,"wires":[["9ffff38b.1b705"],["b2090f27.d9c89"]]},{"id":"f2fa4bbc.09f5a8","type":"http request","z":"418e53d5.d2fd1c","name":"","method":"GET","ret":"obj","url":"","tls":"","x":590,"y":80,"wires":[["1be3d837.4a2888"]]},{"id":"fcd78717.566548","type":"delay","z":"418e53d5.d2fd1c","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1000","randomLast":"1","randomUnits":"milliseconds","drop":false,"x":120,"y":100,"wires":[["441dee90.b203c"]]},{"id":"f9e77bd3.149778","type":"http request","z":"9a023973.2aed78","name":"","method":"GET","ret":"obj","url":"","tls":"","x":590,"y":1120,"wires":[["9302747e.a387f8","e9dd9cae.98a39"]]},{"id":"fb43e7ef.3a1698","type":"http request","z":"9a023973.2aed78","name":"","method":"GET","ret":"obj","url":"","tls":"","x":590,"y":1260,"wires":[["4000d6b7.ef0118","85f59fe8.50e6"]]},{"id":"1be3d837.4a2888","type":"switch","z":"418e53d5.d2fd1c","name":"エラー検知","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":750,"y":80,"wires":[[],["9abe1852.0c57f8"]]},{"id":"9ffff38b.1b705","type":"function","z":"418e53d5.d2fd1c","name":"流量カウント","func":"var count = global.get('request.count');\ncount++;\nglobal.set('request.count',count);\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":80,"wires":[["f2fa4bbc.09f5a8"]]},{"id":"9abe1852.0c57f8","type":"function","z":"418e53d5.d2fd1c","name":"リトライセット","func":"msg.retryCount = msg.retryCount || 0;\nmsg.retryCount++;\n\nmsg.payload = {};\nmsg.responseUrl = null;\nmsg.headers = null;\nmsg.statusCode = null;\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":100,"wires":[["d96b22c5.6b816"]]},{"id":"d96b22c5.6b816","type":"switch","z":"418e53d5.d2fd1c","name":"リトライ上限","property":"retryCount","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":1100,"y":100,"wires":[[],["b2090f27.d9c89"]]},{"id":"897eab79.12f978","type":"inject","z":"e5def551.32e878","name":"ペイロードに削除したいclassifier_idを入力","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":220,"y":80,"wires":[["82356b39.a01208"]]},{"id":"f1bd7d40.cbb87","type":"comment","z":"e5def551.32e878","name":"分類器の削除（classifier_id指定）","info":"","x":160,"y":40,"wires":[]},{"id":"82356b39.a01208","type":"watson-natural-language-classifier","z":"e5def551.32e878","name":"分類器削除","mode":"remove","language":"en","classifier":"","x":470,"y":80,"wires":[["41fc022b.72cdec"]]},{"id":"41fc022b.72cdec","type":"debug","z":"e5def551.32e878","name":"デバッグログ","active":true,"console":"false","complete":"payload","x":640,"y":80,"wires":[]},{"id":"8484dd82.b6b7d","type":"switch","z":"9a023973.2aed78","name":"クラス数分繰り返し","property":"remains","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":800,"y":740,"wires":[["44977ea.bf5b18"],["87a30ab.06a6cf8"]]},{"id":"44977ea.bf5b18","type":"function","z":"9a023973.2aed78","name":"クエリセット","func":"msg.remains--;\n\nvar startDate = new Date(); \nvar endDate = new Date(); \nvar startHour = \"\";\nvar startMinute = \"\";\nvar endHour = \"\";\nvar endMinute = \"\";\n\nvar groupLevel;\n\nswitch (msg.timeRange) {\n    case \"minutely\":\n        startDate.setHours(startDate.getHours() + 8);\n        startDate.setMinutes(startDate.getMinutes() + 1);\n        endDate.setHours(endDate.getHours() + 9);\n        endDate.setMinutes(endDate.getMinutes() + 1);\n        startHour = \",\" + startDate.getHours();\n        startMinute = \",\" + startDate.getMinutes();\n        endHour = \",\" + endDate.getHours();\n        endMinute = \",\" + endDate.getMinutes();\n        groupLevel = 7;\n        break;\n\n    case \"hourly\":\n        startDate.setDate(startDate.getDate() - 1);\n        startDate.setHours(startDate.getHours() + 10);\n        endDate.setHours(endDate.getHours() + 10);\n        startHour = \",\" + startDate.getHours();\n        endHour = \",\" + endDate.getHours();\n        groupLevel = 6;\n        break;\n\n    case \"daily\":\n        var endOfLastMonth = new Date(startDate.getFullYear(), startDate.getMonth(), 0).getDate();\n        startDate.setDate(startDate.getDate() - endOfLastMonth + 1);\n        startDate.setHours(startDate.getHours() + 9);\n        endDate.setDate(endDate.getDate() + 1);\n        endDate.setHours(endDate.getHours() + 9);\n        groupLevel = 5;\n        break;\n\n    default:\n        break;\n}\n\nvar startYear = startDate.getFullYear();\nvar startMonth = startDate.getMonth()+1;\nvar startDay = startDate.getDate();\n\nvar endYear = endDate.getFullYear();\nvar endMonth = endDate.getMonth()+1;\nvar endDay = endDate.getDate();\n\nvar param = \"group_level=\" + groupLevel +\n            \"&startkey=[\" +\n                \"\\\"\" + global.get(msg.classifier).class[msg.remains] + \"\\\",\" +\n                startYear + \",\" +\n                startMonth + \",\" +\n                startDay +\n                startHour +\n                startMinute +\n            \"]\" +\n            \"&endkey=[\" +\n                \"\\\"\" + global.get(msg.classifier).class[msg.remains] + \"\\\",\" +\n                endYear + \",\" +\n                endMonth + \",\" +\n                endDay +\n                endHour +\n                endMinute +\n            \"]\";\nmsg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view/_view/count_by_time?\" + param);\n\nmsg.now = endDate;\nmsg.groupLevel = groupLevel;\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":660,"wires":[["4710ce34.81a86"]]},{"id":"bdae3f91.d1b71","type":"function","z":"9a023973.2aed78","name":"データ整形","func":"var level = msg.groupLevel - 2;\n\nvar count = {};\nmsg.payload.rows.forEach(function(row) {\n    if(!count[row.key[level]]) count[row.key[level]] = 0;\n    count[row.key[level]] += row.value;\n})\n\nvar data = [];\nvar timeRange;\nvar now;\n\nswitch (msg.timeRange) {\n    case \"minutely\":\n        timeRange = 60;\n        now = msg.now.getMinutes();\n        break;\n\n    case \"hourly\":\n        timeRange = 24;\n        now = msg.now.getHours();\n        break;\n\n    case \"daily\":\n        var endOfLastMonth = new Date(msg.now.getFullYear(), msg.now.getMonth(), 0).getDate();\n        timeRange = endOfLastMonth;\n        now = msg.now.getDate();\n        break;\n\n    default:\n        break;\n}\n\nfor (i=0; i < timeRange; i++) {\n    if (count[now]) {\n        data[i] = count[now];\n    } else {\n        data[i] = 0;\n    }\n\n    now++;\n    if (msg.timeRange == \"daily\" ) {\n        if (now > timeRange) now = 1;\n    } else {\n        if (now >= timeRange) now = 0;\n    }\n}\n\nmsg.data[msg.remains] = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":660,"wires":[["8484dd82.b6b7d"]]},{"id":"87a30ab.06a6cf8","type":"function","z":"9a023973.2aed78","name":"データマージ","func":"var graph = [{\n              series: [],\n              data: [[]],\n              labels: []\n            }];\n\ngraph[0].series = global.get(msg.classifier).class;\n\nvar level = msg.groupLevel - 2;\n\ngraph[0].data = msg.data;\n\nvar timeRange;\nvar now;\n\nswitch (msg.timeRange) {\n    case \"minutely\":\n        timeRange = 60;\n        now = msg.now.getMinutes();\n        break;\n\n    case \"hourly\":\n        timeRange = 24;\n        now = msg.now.getHours();\n        break;\n\n    case \"daily\":\n        var endOfLastMonth = new Date(msg.now.getFullYear(), msg.now.getMonth(), 0).getDate();\n        timeRange = endOfLastMonth;\n        now = msg.now.getDate();\n        break;\n\n    default:\n        break;\n}\n\nfor (i=0; i < timeRange; i++) {\n    graph[0].labels[i] = now;\n    \n    now++;\n    if (msg.timeRange == \"daily\" ) {\n        if (now > timeRange) now = 1;\n    } else {\n        if (now >= timeRange) now = 0;\n    }\n}\n\nmsg.payload = graph;\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":760,"wires":[["623f2caf.ad4574"]]},{"id":"4710ce34.81a86","type":"subflow:418e53d5.d2fd1c","z":"9a023973.2aed78","name":"","x":830,"y":660,"wires":[["bdae3f91.d1b71"]]},{"id":"739637a5.03e1a8","type":"ui_chart","z":"9a023973.2aed78","name":"","group":"6fa6cbb5.8023b4","order":1,"width":0,"height":0,"label":"分","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1310,"y":740,"wires":[[],[]]},{"id":"fdd1955c.400f68","type":"change","z":"9a023973.2aed78","name":"分類器名セット","rules":[{"t":"set","p":"classifier","pt":"msg","to":"posinega","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":660,"wires":[["8205aec6.407d1"]]},{"id":"8205aec6.407d1","type":"function","z":"9a023973.2aed78","name":"クラス数カウント","func":"msg.remains = global.get(msg.classifier).class.length;\nmsg.data = [[]];\nmsg.timeRange = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":660,"wires":[["44977ea.bf5b18"]]},{"id":"1a702ad6.57acd5","type":"inject","z":"9a023973.2aed78","name":"","topic":"","payload":"minutely","payloadType":"str","repeat":"60","crontab":"","once":false,"x":100,"y":660,"wires":[["fdd1955c.400f68"]]},{"id":"410ba176.1ffe3","type":"inject","z":"9a023973.2aed78","name":"","topic":"","payload":"minutely","payloadType":"str","repeat":"60","crontab":"","once":false,"x":100,"y":760,"wires":[["867f1793.9453a8"]]},{"id":"623f2caf.ad4574","type":"switch","z":"9a023973.2aed78","name":"分類器振分","property":"classifier","propertyType":"msg","rules":[{"t":"eq","v":"posinega","vt":"str"},{"t":"eq","v":"isbot","vt":"str"}],"checkall":"true","outputs":2,"x":1170,"y":760,"wires":[["739637a5.03e1a8"],["26d3e576.fcce9a"]]},{"id":"4deaeff1.a3a47","type":"comment","z":"9a023973.2aed78","name":"Tweet内訳","info":"","x":60,"y":1040,"wires":[]},{"id":"2f6de0f2.3bb14","type":"inject","z":"9a023973.2aed78","name":"1週間より前のデータ削除","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 01 * * *","once":false,"x":160,"y":480,"wires":[["7adc8158.88bbc"]]},{"id":"7adc8158.88bbc","type":"function","z":"9a023973.2aed78","name":"クエリセット","func":"var endDate = new Date(); \n\nendDate.setDate(endDate.getDate() - 7);\nendDate.setHours(endDate.getHours() + 9);\n\nvar endYear = endDate.getFullYear();\nvar endMonth = endDate.getMonth()+1;\nvar endDay = endDate.getDate();\n\nvar param = \"endkey=[\" +\n                endYear + \",\" +\n                endMonth + \",\" +\n                endDay +\n            \"]\";\nmsg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view/_view/sort_by_date?\" + param);\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":480,"wires":[["f00f7ae2.e52458"]]},{"id":"f00f7ae2.e52458","type":"subflow:418e53d5.d2fd1c","z":"9a023973.2aed78","name":"","x":550,"y":480,"wires":[["b351618a.d5f8e"]]},{"id":"b351618a.d5f8e","type":"function","z":"9a023973.2aed78","name":"削除クエリセット","func":"msg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" +  global.get(\"cloudant.dbname\") + \"/_bulk_docs\");\n\nvar docs = [{ \"_id\":\"\",\n              \"_rev\":\"\",\n              \"_deleted\":\"\"}];\n\nif(Array.isArray(msg.payload.rows)) {\n    for (i = 0; i < msg.payload.rows.length; i++) {\n        if (msg.payload.rows[i]) {\n            docs[i] = { \"_id\" : msg.payload.rows[i].value._id,\n                        \"_rev\" : msg.payload.rows[i].value._rev,\n                        \"_deleted\" : true};\n        }\n    }\n}\n\nmsg.payload = { \"docs\":docs };\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":480,"wires":[["edfc8204.ab70f"]]},{"id":"edfc8204.ab70f","type":"http request","z":"9a023973.2aed78","name":"","method":"POST","ret":"obj","url":"","tls":"","x":910,"y":480,"wires":[[]]},{"id":"7b33a22c.05aadc","type":"function","z":"5f46a469.f9ffac","name":"view検索クエリセット","func":"msg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view\");\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":180,"wires":[["e029beb0.31e46"]]},{"id":"e029beb0.31e46","type":"http request","z":"5f46a469.f9ffac","name":"","method":"GET","ret":"obj","url":"","tls":"","x":550,"y":180,"wires":[["9f22f56c.0be7a8"]]},{"id":"e93bfdeb.428f9","type":"function","z":"9a023973.2aed78","name":"データ整形","func":"msg.payload.timestamp = msg.tweet.created_at;\nmsg.payload.text = msg.tweet.text;\nmsg.payload.classes = msg.payload.classes[0];\ndelete msg.payload.top_class;\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":420,"wires":[["723ec33e.6b66dc"]]},{"id":"bac2c355.05f8a","type":"change","z":"cf483c01.262ab","name":"分類器名セット","rules":[{"t":"set","p":"classifierName","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":180,"wires":[["72aead5c.980c44"]]},{"id":"495c869.6960d78","type":"inject","z":"cf483c01.262ab","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":110,"y":80,"wires":[["c1ea544b.0fe5c8"]]},{"id":"c1ea544b.0fe5c8","type":"change","z":"cf483c01.262ab","name":"NLCの分類設定","rules":[{"t":"set","p":"posinega","pt":"global","to":"{\"class\":[\"positive\",\"neutral\",\"negative\"]}","tot":"json"},{"t":"set","p":"isbot","pt":"global","to":"{\"class\":[\"person\",\"others\"]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":80,"wires":[[]]},{"id":"4873b1dd.d1e23","type":"comment","z":"cf483c01.262ab","name":"「global.xxx」のxxxは各タブの分類器名セットノードで使用する。","info":"","x":260,"y":40,"wires":[]},{"id":"689d0d9a.09fdf4","type":"change","z":"5f46a469.f9ffac","name":"認証設定","rules":[{"t":"set","p":"user","pt":"msg","to":"","tot":"str"},{"t":"set","p":"password","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":340,"wires":[["febb44eb.4e7c38"]]},{"id":"febb44eb.4e7c38","type":"function","z":"5f46a469.f9ffac","name":"BASIC認証","func":"var auth = msg.req.get('Authorization');\n\n// Base64エンコード\nvar key = (new Buffer((msg.user + ':' + msg.password).toString(), 'binary')).toString('base64');\nif(auth === undefined) { // 認証情報なし\n    msg.statusCode = 401;\n    msg.headers = {'WWW-Authenticate':'Basic realm=\\\"SECRET AREA\\\"'};\n    msg.payload = \"not auth\";\n} else if (auth.indexOf('Basic ')===0) { // BASIC認証\n    msg.base64 = auth.slice(6);\n    if(msg.base64 === key) { //echo -n 'user:password123' | base64 -e \n        msg.statusCode = 200;\n    } else { // 認証情報合ってない\n        msg.statusCode = 401;\n        msg.headers = {'WWW-Authenticate':'Basic realm=\\\"SECRET AREA\\\"'};\n        msg.payload = \"not auth\";\n    }\n} else { // 違う認証方法だった \n    msg.statusCode = 401;\n    msg.headers = {'WWW-Authenticate':'Basic realm=\\\"SECRET AREA\\\"'};\n    msg.payload = \"not auth\";\n}\n\nmsg.auth = auth;\nmsg.key = key;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":340,"wires":[["f02ded48.0dd95"]]},{"id":"f02ded48.0dd95","type":"switch","z":"5f46a469.f9ffac","name":"認証に通ったときのみCSVを返す","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":320,"y":440,"wires":[["f1852d0f.caf72"],["11596a2e.909026"]]},{"id":"11596a2e.909026","type":"http response","z":"5f46a469.f9ffac","name":"","statusCode":"","headers":{"content-type":"application/octet-stream; charset=UTF-8","Content-Disposition":"attachment","Content-Transfer-Encoding":"binary","Cache-control":"no-cache"},"x":850,"y":460,"wires":[]},{"id":"7aeb3c9b.4ace64","type":"function","z":"5f46a469.f9ffac","name":"ログ補完","func":"var csvValue = [];\n\nfor(i=0;i<msg.payload.rows.length;i++){\n    csvValue[i] = [];\n    var time = msg.payload.rows[i].key;\n    if (time[1]<10) {\n        time[1] = \"0\" + time[1];\n    }\n    if (time[2]<10) {\n        time[2] = \"0\" + time[2];\n    }\n    if (time[3]<10) {\n        time[3] = \"0\" + time[3];\n    }\n    if (time[4]<10) {\n        time[4] = \"0\" + time[4];\n    }\n    if (time[5]<10) {\n        time[5] = \"0\" + time[5];\n    }\n    csvValue[i][0] = time[0] + \"-\" + time[1] + \"-\" + time[2] + \" \" + time[3] + \":\" + time[4] + \":\" + time[5];\n    csvValue[i][1] = msg.payload.rows[i].value.text;\n    csvValue[i][1] = csvValue[i][1].replace(/\\r?\\n/g, \"\");\n    for(j=0;j<msg.payload.rows[i].value.classes.length;j++){\n        csvValue[i].push(msg.payload.rows[i].value.classes[j].class_name);\n        csvValue[i].push(msg.payload.rows[i].value.classes[j].confidence);\n    }\n}\n\nmsg.payload = csvValue;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":420,"wires":[["3dfe664e.d5690a"]]},{"id":"3dfe664e.d5690a","type":"csv","z":"5f46a469.f9ffac","name":"CSV変換","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\r\\n","temp":"","x":720,"y":420,"wires":[["11596a2e.909026"]]},{"id":"a8979c30.caf04","type":"comment","z":"5f46a469.f9ffac","name":"[日時,Tweet,分類,確信度]でログをCSV出力(分類,確信度の項目数は使ったNLC数に対応する。)","info":"","x":320,"y":300,"wires":[]},{"id":"f1852d0f.caf72","type":"function","z":"5f46a469.f9ffac","name":"クエリセット","func":"msg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view/_view/sort_by_date_for_csv?descending=true\");\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":380,"wires":[["6875b9b6.bdeca8"]]},{"id":"6875b9b6.bdeca8","type":"subflow:418e53d5.d2fd1c","z":"5f46a469.f9ffac","name":"","x":730,"y":380,"wires":[["7aeb3c9b.4ace64","8f4239d5.62be88"]]},{"id":"e5e05919.efa908","type":"http in","z":"5f46a469.f9ffac","name":"","url":"/log.csv","method":"get","upload":false,"swaggerDoc":"","x":90,"y":340,"wires":[["689d0d9a.09fdf4"]]},{"id":"46eb4776.476968","type":"function","z":"9a023973.2aed78","name":"CSV用データ整形","func":"msg.classes = msg.classes || [];\nmsg.classes.push(msg.payload.classes[0]);\nmsg.payload.timestamp = msg.tweet.created_at;\nmsg.payload.text = msg.tweet.text;\nmsg.payload.classes = msg.classes;\ndelete msg.payload.top_class;\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":380,"wires":[["723ec33e.6b66dc"]]},{"id":"99dd306.6255dd","type":"function","z":"9a023973.2aed78","name":"結果保持","func":"msg.classes = msg.classes || [];\nmsg.classes.push(msg.payload.classes[0]);\nmsg.payload = msg.tweet.text;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":320,"wires":[["c6251a62.5bca58"]]},{"id":"8f4239d5.62be88","type":"debug","z":"5f46a469.f9ffac","name":"","active":true,"console":"false","complete":"false","x":940,"y":380,"wires":[]},{"id":"b2663dbe.e0d26","type":"function","z":"9a023973.2aed78","name":"クエリセット","func":"msg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view/_view/count_by_class?group_level=1\");\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":900,"wires":[["9f474f09.81592"]]},{"id":"9f474f09.81592","type":"subflow:418e53d5.d2fd1c","z":"9a023973.2aed78","name":"","x":450,"y":900,"wires":[["f341fdfe.568d5","c1263de0.a3201"]]},{"id":"f341fdfe.568d5","type":"change","z":"9a023973.2aed78","name":"分類器名セット","rules":[{"t":"set","p":"classifier","pt":"msg","to":"posinega","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":900,"wires":[["5ed346e3.78db98"]]},{"id":"5ed346e3.78db98","type":"function","z":"9a023973.2aed78","name":"データ整形","func":"var graph = [{\n              series: [],\n              data: [[]],\n              labels: []\n            }];\n\ngraph[0].series = global.get(msg.classifier).class;\ngraph[0].labels = global.get(msg.classifier).class;\n\nfor(i=0;i<global.get(msg.classifier).class.length;i++){\n    for(j=0;j<msg.payload.rows.length;j++){\n        if (msg.payload.rows[j].key == global.get(msg.classifier).class[i]) {\n            graph[0].data[0].push(msg.payload.rows[j].value);\n        }\n    }\n}\n\nmsg.payload = graph;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":900,"wires":[["ec2c8d2b.79f09"]]},{"id":"58981c8e.2bf564","type":"inject","z":"9a023973.2aed78","name":"毎分実行","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":110,"y":900,"wires":[["b2663dbe.e0d26"]]},{"id":"c1263de0.a3201","type":"change","z":"9a023973.2aed78","name":"分類器名セット","rules":[{"t":"set","p":"classifier","pt":"msg","to":"isbot","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":940,"wires":[["647ee708.76a618"]]},{"id":"647ee708.76a618","type":"function","z":"9a023973.2aed78","name":"データ整形","func":"var graph = [{\n              series: [],\n              data: [[]],\n              labels: []\n            }];\n\ngraph[0].series = global.get(msg.classifier).class;\ngraph[0].labels = global.get(msg.classifier).class;\n\nfor(i=0;i<global.get(msg.classifier).class.length;i++){\n    for(j=0;j<msg.payload.rows.length;j++){\n        if (msg.payload.rows[j].key == global.get(msg.classifier).class[i]) {\n            graph[0].data[0].push(msg.payload.rows[j].value);\n        }\n    }\n}\n\nmsg.payload = graph;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":940,"wires":[["1fe695eb.06d73a"]]},{"id":"e327282b.9c9178","type":"comment","z":"9a023973.2aed78","name":"検索オプションについてはこのノードの情報にあるURLを参照ください。","info":"https://developer.twitter.com/en/docs/tweets/search/api-reference/get-search-tweets.html","x":460,"y":180,"wires":[]},{"id":"e97dcd42.ec599","type":"inject","z":"9a023973.2aed78","name":"検索クエリ","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"x":110,"y":220,"wires":[["2b470d76.f36422"]]},{"id":"6987800.5f0b68","type":"function","z":"9a023973.2aed78","name":"検索結果保持","func":"msg.statuses = msg.payload.statuses;\nmsg.remains = msg.statuses.length;\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":220,"wires":[["4e0a7126.5759d"]]},{"id":"2b470d76.f36422","type":"change","z":"9a023973.2aed78","name":"検索オプション","rules":[{"t":"set","p":"geocode","pt":"msg","to":"","tot":"str"},{"t":"set","p":"lang","pt":"msg","to":"ja","tot":"str"},{"t":"set","p":"locale","pt":"msg","to":"ja","tot":"str"},{"t":"set","p":"count","pt":"msg","to":"20","tot":"num"},{"t":"set","p":"include_entities","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":220,"wires":[["6fcc7b95.4032e4"]]},{"id":"4e0a7126.5759d","type":"switch","z":"9a023973.2aed78","name":"検索結果件数分ループ","property":"remains","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":140,"y":260,"wires":[["f14c819f.1596e"],[]]},{"id":"f14c819f.1596e","type":"function","z":"9a023973.2aed78","name":"データセット","func":"msg.remains--;\nmsg.tweet = msg.statuses[msg.remains];\nmsg.payload = msg.statuses[msg.remains].text;\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":320,"wires":[["4e0a7126.5759d","e59b3929.2cfc48"]]},{"id":"dfe362f7.b22ad","type":"http request","z":"da6c4a99.b2bfd8","name":"","method":"GET","ret":"obj","url":"","tls":"","x":490,"y":180,"wires":[["a5221a55.07c0b8"]]},{"id":"143f3c63.36fdc4","type":"function","z":"da6c4a99.b2bfd8","name":"クエリセット","func":"//前回検索結果の最新TweetのIDを更新するためにrevisionを保持\nif (msg.payload._rev) msg.rev = msg.payload._rev;\n\n//検索文をセットする\nmsg.query = encodeURIComponent(msg.q);\n\n//オプションをセットする\nif(msg.geocode !== \"\") {\n    msg.query += \"&geocode=\" + encodeURIComponent(msg.geocode);\n}\nif(msg.lang !== \"\") {\n    msg.query += \"&lang=\" + encodeURIComponent(msg.lang);\n}\nif(msg.locale !== \"\") {\n    msg.query += \"&locale=\" + encodeURIComponent(msg.locale);\n}\nif(msg.count !== 0) {\n    msg.query += \"&count=\" + encodeURIComponent(msg.count);\n}\nif(msg.include_entities !== null) {\n    msg.query += \"&include_entities=\" + msg.include_entities.toString();\n}\nmsg.query += \"&result_type=recent\";\n\n//前回検索結果の最新TweetのIDより大きいIDのTweetのみ検索対象にする\nif (msg.payload.last_id) msg.query += \"&since_id=\" + encodeURIComponent(msg.payload.last_id);\n\n//ヘッダ作成\nmsg.headers = {\"Authorization\" : \"Bearer \" + global.get(\"tw.bearer\")};\n\n//URL作成\nmsg.url = \"https://api.twitter.com/1.1/search/tweets.json?q=\" + msg.query;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":180,"wires":[["dfe362f7.b22ad"]]},{"id":"e651e828.acd918","type":"function","z":"da6c4a99.b2bfd8","name":"前回検索結果の最新TweetID取得","func":"msg.q = msg.payload;\n\nmsg.url = encodeURI(global.get(\"cloudant.url\") + \"/last_id/id\");\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":120,"wires":[["3521be98.102682"]]},{"id":"a5221a55.07c0b8","type":"function","z":"da6c4a99.b2bfd8","name":"TweetID保持＆DB無ければ作成","func":"if (msg.payload.statuses[0]) {\n    msg.lastId = msg.payload.statuses[0].id_str;\n} else {\n    return;\n}\nmsg.url = encodeURI(global.get(\"cloudant.url\") + \"/last_id/\");\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":260,"wires":[["f92b618a.a53fb"]]},{"id":"f92b618a.a53fb","type":"http request","z":"da6c4a99.b2bfd8","name":"","method":"PUT","ret":"obj","url":"","tls":"","x":850,"y":260,"wires":[["156bfa9b.694d55"]]},{"id":"3521be98.102682","type":"http request","z":"da6c4a99.b2bfd8","name":"","method":"GET","ret":"obj","url":"","tls":"","x":150,"y":180,"wires":[["143f3c63.36fdc4"]]},{"id":"6fcc7b95.4032e4","type":"subflow:da6c4a99.b2bfd8","z":"9a023973.2aed78","name":"","x":450,"y":220,"wires":[["6987800.5f0b68"]],"outputLabels":["ｓ１"]},{"id":"156bfa9b.694d55","type":"function","z":"da6c4a99.b2bfd8","name":"TweetIDの記録","func":"msg.url = encodeURI(global.get(\"cloudant.url\") + \"/last_id/id\");\n\nmsg.payload = {\n  \"_id\": \"id\",\n  \"last_id\": msg.lastId\n};\n\nif (msg.rev) msg.payload[\"_rev\"] = msg.rev;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":320,"wires":[["3e9f4306.177c3c"]]},{"id":"3e9f4306.177c3c","type":"http request","z":"da6c4a99.b2bfd8","name":"","method":"PUT","ret":"obj","url":"","tls":"","x":850,"y":320,"wires":[[]]},{"id":"d0dc5fed.d49c4","type":"change","z":"9a023973.2aed78","name":"TwitterAPIキー","rules":[{"t":"set","p":"tw.apikey","pt":"msg","to":"","tot":"str"},{"t":"set","p":"tw.apisecret","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":120,"wires":[["ed7d8883.ac3fd8"]]},{"id":"da3e1d5a.94d49","type":"inject","z":"9a023973.2aed78","name":"設定セット","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":true,"x":110,"y":120,"wires":[["d0dc5fed.d49c4"]]},{"id":"cb1480b.7d1518","type":"http request","z":"9a023973.2aed78","name":"","method":"POST","ret":"obj","url":"https://api.twitter.com/oauth2/token","tls":"","x":630,"y":120,"wires":[["d7a674c6.c81758"]]},{"id":"ed7d8883.ac3fd8","type":"function","z":"9a023973.2aed78","name":"トークン取得","func":"var api_key = msg.tw.apikey;\nvar api_secret = msg.tw.apisecret;\n\n// クレデンシャルを作成\nvar buffer = new Buffer(api_key + \":\" + api_secret);\nvar credential = buffer.toString(\"base64\");\n\nmsg.headers = {\n    \"Authorization\" : \"Basic \" + credential,\n    \"Content-Type\" : \"application/x-www-form-urlencoded;charset=UTF-8;\"\n    };\nmsg.payload = \"grant_type=client_credentials\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":120,"wires":[["cb1480b.7d1518"]]},{"id":"d7a674c6.c81758","type":"change","z":"9a023973.2aed78","name":"ベアラートークンセット","rules":[{"t":"set","p":"tw.bearer","pt":"global","to":"payload.access_token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":120,"wires":[[]]},{"id":"f9e3e6d7.58a9f8","type":"comment","z":"9a023973.2aed78","name":"⇓のノードにAPI KeyとAPI Secretを設定してください。","info":"","x":400,"y":80,"wires":[]}]